/* Birds in Sky */

.bird-path-one {
    display: flex;
    flex-basis: 20%;
    background-color: green;
    border: solid 2px;
    border-radius: 50px;
    width: 20px;
    transition: transform 12s;
    transform: translate(600px);
}

.bird-path-two {
    display: flex;
    flex-basis: 20%;
    background-color: green;
    border: solid 2px;
    border-radius: 50px;
    width: 20px;
    transition: transform 12s;
    transform: translate(600px);
}

.bird-path-three {
    display: flex;
    flex-basis: 20%;
    background-color: green;
    border: solid 2px;
    border-radius: 50px;
    width: 20px;
    transition: transform 12s;
    transform: translate(600px);
}

.bird-path-four {
    display: flex;
    flex-basis: 20%;
    background-color: green;
    border: solid 2px;
    border-radius: 50px;
    width: 20px;
    transition: transform 12s;
    transform: translate(600px);
}

.bird-path-five {
    display: flex;
    flex-basis: 20%;
    background-color: green;
    border: solid 2px;
    width: 20px;
    border-radius: 50px;
    transition: transform 12s;
    transform: translate(600px);
}