html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url(../asset/round1.png);
  background-color: black;
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & button {
    outline: rgb(255, 255, 255) 2.5px double;
    outline-offset: -4px;
    border: #75766f 6px solid;
    font-size: medium;
    font-size: clamp(12px, 1vw, 18px);
    aspect-ratio: 1;
    height: 38px;
    max-height: 45px;
    padding-bottom: 3px;
    border-radius: 50%;
    background: linear-gradient(to top, #4aec0a 0%, #e7d801 70%);
    z-index: 10;
    cursor: pointer;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-height: 75%;
  width: 86%;
  object-fit: cover;
}