.darkhole {
    @include flexShell;
    @include actionBox;
    height: 26%;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20%;
    background-image: url(../asset/darkhole.png);
}

#roundEnd {
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.75);
    border-style: ridge;
    border: rgb(255, 255, 255) 5px ridge;
    padding: 20px;
    margin: 20px;
    visibility: hidden;
}

.roundEnd {
    animation: buttonBounce 2s ease forwards;
}

@keyframes buttonBounce {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}