@mixin wBox4 {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin-left: -14px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
}

@mixin flexShell {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin actionBox {
  flex-basis: 32%;
  max-width: 240px;
  margin: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
}

@mixin sbPlus {
  display: flex;
  flex-basis: 25%;
  font-size: small;
}

@mixin media-sm {
  @media screen and (min-width: 500px) {
    @content;
  }
}

@mixin media-smh {
  @media screen and (max-height: 750px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1060px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}