@mixin wBox4{
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;      
  margin: auto; 
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;  
  min-width: 50px;
  position: absolute; 
  border: blueviolet 2px solid;
 }
@mixin flexShell {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;    
}
@mixin actionBox {
  flex-basis: 32%;
  max-width: 240px;
  height: 90px;
  margin: auto;
  margin-top: 12vh; 
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
}
@mixin gridplus {
  grid-area: 1/1/2/7;
  display:flex;
  height: 100%;
  padding: 5% 10px; 
  grid-row: span 1;
}
@mixin sbPlus {
  display: flex;    
  // font-size: 1.2rem; 
  flex-basis: 25%;
  flex-direction: column;
}
@mixin media-sm {
  @media screen and (min-width: 576px) {
      @content;
  }
}
@mixin media-md {
   @media screen and (min-width: 768px) {
       @content;
   }
}
@mixin media-lg {
  @media screen and (min-width: 992px) {
      @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1200px) {
      @content;
  }
}