.moleHole {
    height: 100px;
    width: 100px;
    margin: 40px;
    background-image: url(./picture/hole.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theMole {
    height: 100px;
    width: 100px;
    margin: 40px;
    background-image: url(./picture/mole.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theSplat {
    height: 100px;
    width: 100px;
    margin: 40px;
    background-image: url(./picture/splat.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}