
.theCash {
    display: flex;
    border: rgb(255, 0, 212) solid 2px;
    justify-content: center; 
    width: 23%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(.3,.3);
    flex-basis: 21%;
    background-image: url(/dist/asset/cash.png) no-repeat contain;
    animation: cashPop 1s alternate cubic-bezier(0.75, 0.95, 0.2, 1) ease-out;
    background-color: yellowgreen;
}
@keyframes cashPop{
0% {
transform:translateY(0%) rotate(0turn);
opacity:.25;}
50% {
transform:translateY(100%) rotate(2turn);
opacity:1;}
}

.theSmash {
    display: flex;
    border: rgb(0, 255, 242) solid 2px;
    justify-content: center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: auto;
    transform: scale(.75,.75);
    flex-basis: 21%;
    background-image: url(/dist/asset/smash.png);
    background-color: rgb(238, 165, 8);
}
.splat {
    display: flex;
    border: rgb(0, 255, 242) solid 2px;
    justify-content: center; 
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: auto;
    transform: scale(.75,.75);
    flex-basis: 21%;
    background-image: url(/dist/asset/whack.png);
    background-color: rgb(0, 255, 242);
}

.sunMole {
    background-image: url(/dist/asset/darksun.png);
    background-color: yellow;
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: grayscale(3);
    z-index: 10;
}
.tulipMole {
    background-image: url(/dist/asset/darktulip.png);
    background-color: rgb(255, 0, 212);
    background-size: contain;
    background-repeat: no-repeat;
}
.daisyMole {
    background-image: url(/dist/asset/darkdaisy.png);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}
.roseMole {
    background-image: url(/dist/asset/darkrose.png);
    background-color: red;
    background-size: contain;
    background-repeat: no-repeat;
}
