.gameIcon {
    background-size: contain;
    background-repeat: no-repeat;  
}
// #plusImg {
//     position: absolute;
// }

#minCash1 {    
    background-image: url(/dist/asset/minCash1.png);
}
#minCash2{
    background-image: url(/dist/asset/minCash2.png);
}
#minCash3 {    
    background-image: url(/dist/asset/minCash3.png);
}
#minCash4{
    background-image: url(/dist/asset/minCash4.png);
}

.cash1 {    
    background-image: url(/dist/asset/darkcash.png);
}
.cash2{
    background-image: url(/dist/asset/darklapis.png);
}
.cash3 {    
    background-image: url(/dist/asset/darkpearl.png);
}
.cash4{
    background-image: url(/dist/asset/darkyellow.png);
}
.smash {
    @include flexShell;    
    @include actionBox;
    background-image: url(/dist/asset/smash.png);
}
.splat {
    @include flexShell;    
    @include actionBox;
    background-image: url(/dist/asset/splat.png);
}
.mole1 {
    background-image: url(/dist/asset/darksun.png); 
}
.mole2 {
    background-image: url(/dist/asset/darktulip.png); 
}
.mole3 {
    background-image: url(/dist/asset/darkdaisy.png);   
}
.mole4 {
    background-image: url(/dist/asset/darkrose.png);
}
.round1 {
    background-image: url(/dist/asset/round1.png); 
}
.round2 {
    background-image: url(/dist/asset/round2.png); 
}
.round3 {
    background-image: url(/dist/asset/round3.png); 
}
.round4 {
    background-image: url(/dist/asset/round4.png); 
}