.gameIcon {
    background-size: contain;
    background-repeat: no-repeat;  
}
#minCash1 {    
    background-image: url(/dist/asset/minCash1.png);
}
#minCash2{
    background-image: url(/dist/asset/minCash2.png);
}
#minCash3 {    
    background-image: url(/dist/asset/minCash3.png);
}
#minCash4, #minCash5{
    background-image: url(/dist/asset/minCash4.png);
}
.cash1 {    
    background-image: url(/dist/asset/darkcash.png);
}
.cash2{
    background-image: url(/dist/asset/darklapis.png);
}
.cash3 {    
    background-image: url(/dist/asset/darkpearl.png);
}
.cash4, .cash5{
    background-image: url(/dist/asset/darkyellow.png);
}
.smash {
    @include flexShell;    
    @include actionBox;
    background-image: url(/dist/asset/smash.png);
}
.bop {
    @include flexShell;    
    @include actionBox;
    background-image: url(/dist/asset/bop.png);
}
.mole1 {
    background-image: url(/dist/asset/mole1.png); 
}
.mole2 {
    background-image: url(/dist/asset/mole2.png); 
}
.mole3 {
    background-image: url(/dist/asset/mole3.png);   
}
.mole4 {
    background-image: url(/dist/asset/mole4.png);
}
.round2 {
    background-image: url(/dist/asset/round2.png); 
}
.round3 {
    background-image: url(/dist/asset/round3.png); 
}
.round4 {
    background-image: url(/dist/asset/round4.png); 
}
#first {
    margin-left: -14px;
    max-width: 100px;
    min-width: 80px;  
}
#second {
    margin-top: 9px;
    max-width: 68px;
    min-width: 75px;
    position: fixed;
}
.introModalShows {
    display: flex;
    flex-direction: column;         
    align-items: center;
    justify-content: center;
    position: relative; 
    height: 100%;
 }
.moleShow {
    display: flex;
    height: 100%; 
    width: 300%;
}
.cash_moleShows {
    display: flex;    
    position: relative;        
    width: 5%;   
    margin-top: -25%;
}
.cashShow{
    display: flex;   
    position: fixed;
    width: 60px;
    transform: translate(-4vh, -2vh);
}
.moleHold {
   display: flex;
   flex-direction: column; 
   width: 100%;
   position: fixed; 
   transform: translate(-200%, -50%);
}
.textShow {
    display: flex;
    flex-direction: column;
    font-size: auto;
    position: relative;     
    top: 8%;
}
#coolmole1 img {
    width: 84px;
    bottom: -43%;
}