@media (min-width: 576px) {
    span {
        font-family: 'Orbitron';
    }
}
@media (min-width: 768px) {
    span {
        font-family: 'Orbitron';
    }
}
@media (min-width: 992px) {
    span {
        font-family: 'Orbitron';
        margin-top: 3vh;
    }
}
@media (min-width: 1200px) {
    span {
        font-family: 'Orbitron';
    }
}  