@media (min-width: 576px) {
    span {
        font-family: 'Orbitron';
    }
}
@media (min-width: 768px) {
    .darkhole {
            max-width: 180px;
    }
}
@media (min-width: 992px) {
    span {
        font-family: 'Orbitron';
        margin-top: 3vh;
    }
    .second {  
        transform: scale(.9,.9);
        margin-bottom: 8vh;
    }
}
@media (min-width: 1200px) {
    span {
        font-family: 'Orbitron';
    }
}  