@include media-sm {
    .head_font, .header{
        font-size: 70px;
    }
    .roundModal {        
        color:rgb(241, 11, 11);
    }
    .headings {
        font-size: xx-large;        
    }
    .heart1, .heart2, .heart3, .heart4 {
        font-size: x-large;    
    }
}
@include media-md {
    .roundModal {        
        color:rgb(241, 11, 11);
    }
    .headings {
        font-size: xx-large;        
    }
    .heart1, .heart2, .heart3, .heart4 {
        font-size: xx-large;    
    }
    .darkhole {
            max-width: 180px;
    }
}
@include media-lg {
    #score, #time {
        font-family: 'Orbitron';
        margin-top: 3vh;
    }
    .second {  
        transform: scale(.35,.35);
        margin-bottom: 8vh;
    }
}
@include media-xl {
    #score, #time {
        font-family: 'Orbitron';
    }
}  