.introModal {
    display: flex;
    align-items: center;   
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.749);
    border:#ffffff 5px ridge;
    height: 75%;
    width: 80%;
    color:white;    
    position: fixed;  
    padding: 20px;
    margin: 20px;    
    // second BG needed for text mask
    background-color: #000000;
    opacity: 0;    
    top: -122%;  
}
.roundModal {
    display: flex;
    flex-direction: column;
    border:rgb(255, 255, 255) 5px ridge;
    background-color: #000000de;
    height: 75%;
    width: 80%;
    color:white;
    position: fixed;  
    top: -122%;       
    padding: 20px;
    margin: 20px;        
}
.tsModal {
    background-color: hsla(0, 0%, 0%, 0.8);
    height: 75%;
    width: 80%;
    color:white;
    top:-122%;    
    position: fixed;  
    border:rgb(255, 255, 255) 5px ridge;
    justify-content:center;    
}
.scoreModal {   
    border:white 5px ridge;
    padding: 10px 20px;
    margin: 0% 5%;    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-column-gap:0px;
    grid-row-gap:12px; 
    flex-direction: row;
    height: 47%;
    opacity: 0;
}
.rank, .lvColor, .score, .name {
    margin-bottom: 10%;
}
.sb_Alpha  {
    @include sbPlus;    
    width: 75%;
    grid-area: 1/1/11/2;
}
.rank{
    flex-flow: row;
}
.sb_Beta  {
    @include sbPlus;
    grid-area: 1/2/11/3;
    align-items: center;
}
.sb_Gamma  {
    @include sbPlus;
    grid-area: 1/3/11/4;
    align-items: center;
}
.sb_Delta  {
    @include sbPlus;
    grid-area: 1/4/11/6;
}
.sb_Epsilon {
    @include sbPlus;
    grid-area: 1/5/11/8;
}
.sbColor {
    color:rgb(252, 221, 182);
}
.grid_container { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  1fr;
} 
.scoreCap {
    @include gridplus;    
    border-bottom:#ffffff 3px ridge;
    background-color: black;
}
.scoreCap2 {
    @include gridplus;
}
.pScore0 { 
    display: flex;
    flex-wrap: column;
    height: 50px;
}
.quarter1, .quarter2, .quarter3, .quarter4, 
.pScore1, .pScore2, .pScore3, .pScore4 {
    display:flex;
    flex-basis:16%;
    justify-content: space-around;
}
.quarter5, .pScore5 {
    display:flex;
    flex-basis:20%;
    justify-content: space-evenly;
}
.quarter {
    transform: translate(-40px, 0px);
}
.pScores {
    display:flex;
    flex-direction: row;
   
    padding: 5% 0px; 
}
.headings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 1vh;
    width: 100%;
    font-size: large;
    overflow: visible;
}
.lineOne, .lineTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 7rem;
    font-size: x-large;    
    margin-top: 2rem;
    overflow: visible;
}
#plusImg, #minusImg, #coolmole1 {
    width: 100px;
    min-width: 54px;
}
.mathChar{
    font-size: medium;
}
.progress-bar {
    padding: 2px;    
    max-width: 100%;
    border: 2px solid #c4a728;
    height: 1.5em;
    width: 300px;
    border-radius: 15px;
    margin-right: -10vw;   

      &::before {
          content: attr(data-label);
          padding-left: 3%;
          color:rgb(243, 0, 0);
          display: flex;
          align-items: center;
          width: calc(var(--width,0)*1%);
          height: 1em;
          min-width: 1rem;
          max-width: 100%;
          border-radius: 15px;
          position: relative;
          background: repeating-linear-gradient(
            135deg,
            #4aec0a,
            #4aec0a 20px,
            #e7d801 20px,
            #e7d801 40px);          
      }
  }
#quarterScore {
    height: 7rem;
    font-size: x-large;  
    display: flex;
    justify-content: right;
    align-items: right;   
    margin-right: 2vw;
}
.times {    
    font-size: x-large;
    position: absolute;
}
.line {
    margin: 1% auto;
    width: 90% ;
    border: white 1px solid;
}
.endGroup {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
#evalMes, .evalOne2{
    font-family: "Dongle";
    font-size: x-large;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.evalOne {
    margin-left: 0%;
    width: 35%;
    top:0;
}
#eval2 {
    border: none;
}

#percent {
    padding-top: 2rem;
}
#eval {
    margin-left: 40%;
}
.theBar {
    width: 35%;
    top:0;
    padding-bottom: 1rem;
    margin-left: 20vw;
}
#all {
    color:#e7d801;
    display: flex;
    flex-direction:column;
    margin-top: -10rem;
}