.introModal {
    position: absolute;
    color: white;
    border:#ffffff 5px ridge;
    height: 70%;
    width: 85%;
    top: -103%;
    display: flex;
    flex-direction: column;
    align-items: center;     
    padding: 2vh;    
    max-width: 510px;  
    
    // ///// opacity also handled with gsap
    background-color: #000000;
    opacity: 0;    
}
.roundModal {
    @include modalplus;    
    display: flex;
    flex-direction: column;
    border:rgb(255, 255, 255) 5px ridge;
    background-color: #000000de;
    height: 60%;
    width: 80%;
    color:white;
    position: fixed;  
    top: -86%;       
    padding: 20px;
    margin: 20px;        
    opacity: 0;
}
.tsModal {
    background-color: hsla(0, 0%, 0%, 0.8);
    height: 72%;
    width: 90%;
    color: white;
    top: -108%;
    position: fixed;
    border: white 5px ridge;
    justify-content: center;    
}
.scoreModal {   
    border:white 5px ridge;
    padding: 0px 7px;
    margin: 13px auto -1%;        
    height: 60%;
    opacity: 0;
    overflow: visible;
}
#evalMes, .evalOne2, #message {    
    font-family: 'Caveat';
    font-size: larger;
    margin-bottom: 1rem;
    font-weight: 600;
    background: radial-gradient(#33ff00, #ffee00, #4aec0a); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
th {
    font-size: x-small;
    padding: 9px 13px 0 0;
}
tr {
    margin-bottom: 0%;
}
.score {
    text-align: end;
    padding-right: 7px;
}
.name {
    text-align: center;
}
.sbColor {
    color:rgb(252, 221, 182);
}
.grid_container { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:  1fr;
    background: black;
    border-bottom:#ffffff 3px ridge;
} 
.scoreCap {
    grid-area: 1/1/2/7;
    display:flex;
    height: 70%;
    grid-row: span 1;   
    margin: 20px 10px 0;
    font-size: medium;
}
.pScore0 { 
    display: flex;
    flex-wrap: column;
    font-size: smaller;
    height: 45px;
}
.quarter1, .quarter2, .quarter3, .quarter4, 
.pScore1, .pScore2, .pScore3, .pScore4 {
    display:flex;
    flex-basis:14%;
    justify-content: center;
}
.quarter5, .pScore5 {
    display:flex;
    flex-basis:18%;
    justify-content: end;
}
.quarter {
    transform: translate(-40px, 0px);
}
.pScores {
    display:flex;
    flex-direction: row;   
    padding: 5% 0px; 
}
.headings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 1vh;
    width: 100%;
    font-size: large;
    overflow: visible;
}
.lineOne, .lineTwo {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 7rem;
    font-size: x-large;    
    margin-top: 2rem;
    overflow: visible;
}
#plusImg, #minusImg, #coolmole1 {
    width: 75px;    
}
.mathChar{
    font-size: medium;
}
.progress-bar {
    padding: 2px;    
    max-width: 100%;
    border: 2px solid #c4a728;
    height: 1.5em;
    width: 300px;
    border-radius: 15px;
    margin-right: -10vw;   

      &::before {
          content: "Goal\00a0=\00a0 300";
          padding-left: 3%;
          color:#000000de;
          display: flex;
          width: calc(var(--width,0)*1%);
          height: 1em;
          min-width: 1rem;
          max-width: 100%;
          border-radius: 15px;
          position: relative;
          background: repeating-linear-gradient(
            135deg,
            #4aec0a,
            #4aec0a 20px,
            #e7d801 20px,
            #e7d801 40px);          
      }
  }
#quarterScore {
    height: 7rem;
    font-size: x-large;  
    display: flex;
    justify-content: right;
    align-items: right;   
    margin-right: 2vw;
}
.times {    
    font-size: x-large;
    position: absolute;
}
.line {
    margin: 1% auto;
    width: 90% ;
    border: white 1px solid;
}
.endGroup {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.evalOne {
    margin-left: 0%;
    width: 55%;
    top:0;
}
#eval2 {
    border: none;
}
#percent {
    padding-top: 2rem;
}
#eval {
    margin-left: 40%;
}
.theBar {
    width: 35%;
    top:0;
    padding-bottom: 1rem;
    margin-left: 20vw;
}
#all {
    color:#e7d801;
    display: flex;
    flex-direction:column;
    margin-top: -10rem;
}
.time {
    opacity: 0;    
    transform: translate(0, 9px);   
}
.date {
    opacity: 0;
    transform: translate(0, -9px);   
}