#start {    
    display: flex;
    max-width:100px;
    max-height: 100px;
    // justify-content: center;
    // align-content: center;     
    margin: auto; 
    cursor: pointer;
}
.start {
    animation: start alternate 2.5s linear ease-in;
}
@keyframes start{
    from {
        transform: scale();
    }
    to{
        transform: scale(5);
    }
}
#score, #time {
    font-family: 'Orbitron';
    width: 200px;   
    text-align: center;
    font-size: x-large;   
}
.whiteBoxes {
    display: flex;
    flex-direction: row;
    max-height: 120px;
    width: 100%;
    padding: 3px;
    color: #ffffff;    
    border: #ffffff 5px dotted;     
    outline:#ffffff ridge 4px;
    outline-offset: -11px;
   }    
.color {
        animation: color infinite 1s steps(6, jump-both);
    }    
@keyframes color {
    0% {
        border: #cc00ff 5px dotted; 
    }
    20% {
        border: #00fff2 5px dotted; 
    }
    40% {
        border: #00ff15 5px dotted; 
    }
    60% {
        border: #d9ff00 5px dotted; 
    }
    80% {
        border: #ff7b00 5px dotted; 
    }
    100% {
        border: #ff0000 5px dotted; 
    }
}
.wBox1 {
    visibility: visible;
    display: flex;
    flex-basis: 22%;    
    border: white 2px ridge; 
}  
.wBox2{
    visibility: hidden;
    flex-basis: 15%;
    padding-left: 6px;
    padding-top: 6px;
    position: fixed;    
}
.wBox3 {
    flex-basis: 25%;
    padding-left: 6px;
    padding-top: 6px;    
    border: white 2px ridge;
    position: relative;
}
.heartBox {
    display: flex;
    max-width: 100px;
    height: 100%;
    z-index: 10;
    transform:translate(0%,-65%);
}
.heart1, .heart2, .heart3, .heart4 {
    display: flex;
    width: 25%;
    margin: 1px;
    color: rgb(255, 0, 0);
    font-size: medium;     
    margin-top: 9vh;
    z-index: 10;
}
.wBox4 {   
    display: flex;
    flex-basis: 40%;
    padding-top: 6px;
    padding-left: 6px;    
    border: white 2px ridge;
    position: relative;
}
.antiScore {
    max-width: 100px;
    min-width: 80px;
    margin: 0 auto;
   
    &::before{
        content: '-15 pts';
        color: rgb(255, 67, 67);
        height: 20px;
        width: 40%;
        font-weight: 700;
    }
}
.proScore {
    max-width: 100px;
    min-width: 60px;
    margin: 0 auto;

    &::before{
        content: '50 pts';
        color: rgb(77, 224, 57);
        height: 20px;
        width: 50%;
        font-weight: 700;
        margin-bottom: 5px;
    }
}
.wBox5a {
    display: flex;
    height: 20px;
    padding: 0 6px;
    overflow: visible;
}
.wBox5b {
    display: flex;     
    overflow: hidden;
}
.wBox5 {
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    padding-top: 6px;
    padding-left: 6px;    
    width: 20%;
    border: white 2px ridge;
    overflow: hidden;
}
#wBox5 {
    display: flex;
    width: auto;    
    margin: auto;
} 