@import 'bottom';
@import 'config';
@import 'mixins';
@import 'ground';
@import 'responsive';
@import 'popups';

.sky {
    @include flexShell;   
    flex-basis: 23%;  
}
.header {
    font-family: 'Flavors';
    font-size: xx-large;
    color: rgb(189, 73, 27);
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.ground {
    @include flexShell;
    flex-basis: 62.5%;
    width: 95%; 
    margin: auto;    
    border: rgb(255, 123, 0) solid 3px;
    z-index: -10;
    justify-content: space-around;
    align-items: flex-end;
    height: 50%;
}

.bottom {
    @include flexShell;
    flex-basis: auto;  
    width: 100%;
    padding: 3px;    
    border: white 4px solid;
    background: rgb(0, 0, 0);   
}
span {
    font-family: 'Orbitron';
    margin-top: 2vh;
}