@charset "UTF-8";
body {
  background-image: url(/dist/asset/meadow.png);
  background-color: black;
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  transition: transform 0.2s;
}
body::-webkit-scrollbar {
  width: 25px;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: #dd7438;
  box-shadow: inset 0 0 7px #000000;
  border-radius: 20px;
  overflow: auto;
  padding: 5px;
  background-clip: padding-box;
  border: transparent solid 0.3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.darkhole {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 23%;
  max-width: 180px;
  height: 100px;
  margin: auto;
  margin-top: 10vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20%;
  background-image: url(/dist/asset/darkhole.png);
}

@media (min-width: 576px) {
  span {
    font-family: "Orbitron";
  }
}
@media (min-width: 768px) {
  .darkhole {
    max-width: 180px;
  }
}
@media (min-width: 992px) {
  span {
    font-family: "Orbitron";
    margin-top: 3vh;
  }

  .second {
    transform: scale(0.9, 0.9);
    margin-bottom: 8vh;
  }
}
@media (min-width: 1200px) {
  span {
    font-family: "Orbitron";
  }
}
@-webkit-keyframes color {
  0% {
    border: #cc00ff 5px dotted;
  }
  20% {
    border: #00fff2 5px dotted;
  }
  40% {
    border: #00ff15 5px dotted;
  }
  60% {
    border: #d9ff00 5px dotted;
  }
  80% {
    border: #ff7b00 5px dotted;
  }
  100% {
    border: red 5px dotted;
  }
}
@keyframes color {
  0% {
    border: #cc00ff 5px dotted;
  }
  20% {
    border: #00fff2 5px dotted;
  }
  40% {
    border: #00ff15 5px dotted;
  }
  60% {
    border: #d9ff00 5px dotted;
  }
  80% {
    border: #ff7b00 5px dotted;
  }
  100% {
    border: red 5px dotted;
  }
}
.wBox1 {
  visibility: visible;
  flex-basis: 10%;
  border: white 2px ridge;
}

.wBox2 {
  visibility: hidden;
  flex-basis: 10%;
  padding-left: 6px;
  padding-top: 6px;
  position: fixed;
}

.wBox3 {
  flex-basis: 24%;
  padding-left: 6px;
  padding-top: 6px;
  border-left: white 4px ridge;
  position: relative;
}
.wBox3:before {
  content: "♥";
  color: red;
  font-size: x-large;
  position: absolute;
  bottom: 1vh;
}
.wBox3:after {
  content: "♥";
  color: red;
  font-size: x-large;
  position: absolute;
  bottom: 1vh;
}

.wBox4 {
  flex-basis: 40%;
  position: relative;
  display: flex;
  padding-top: 6px;
  padding-left: 6px;
  border-left: white 4px ridge;
}

#cash {
  height: 60px;
  width: auto;
  background: url(/dist/asset/theCash.png);
}

#whack {
  height: 80px;
  width: auto;
  background: url(/dist/asset/whack.png);
}

#sun {
  height: 80px;
  background: url(/dist/asset/darksun.png);
}

.wBox5 {
  padding-top: 6px;
  padding-left: 6px;
  flex-basis: calc(36%-100px);
  width: 30%;
  border-left: white 4px ridge;
  overflow: hidden;
}

#wBox5 {
  background-image: url(/dist/asset/whack.png);
  max-height: 75%;
  width: auto;
  display: flex;
  margin: auto;
}

.first_a {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/yellow25.png);
}

.first-b {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/lapis25.png);
}

.first-c {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/pearl25.png);
}

.first-d {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/cash25.png);
  transform: scale(0.65, 0.65);
}

.second-a {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/darksun.png);
}

.second-b {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/darkdaisy.png);
}

.second-c {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/darktulip.png);
}

.second-d {
  flex-basis: 50%;
  max-width: 50px;
  height: 50px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  flex-basis: 20%;
  margin-left: -1%;
  max-width: 50px;
  min-width: 50px;
  position: absolute;
  border: #d60981 2px solid;
  background-image: url(/dist/asset/darkrose.png);
}

.sky {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 23%;
  border: red 5px solid;
}

.header {
  font-family: "Flavors";
  font-size: xx-large;
  color: #bd491b;
  text-shadow: -3px -3px 0 black, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.ground {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 62.5%;
  width: 95%;
  margin: auto;
}

.action_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  width: 100%;
  padding: 3px;
  border: white 4px ridge;
  background: #424040;
}

span {
  font-family: "Orbitron";
  margin-top: 2vh;
}/*# sourceMappingURL=main.css.map */