@import 'config';
@import 'mixins';
@import 'ground';
@import 'responsive';
@import 'popups';
@import 'score';
@import 'roundset';
@import 'skylevel';

p {
    font-family: "Mukta";
    font-size: .8rem;
    margin-bottom: 1rem;
    color: #fcddb6;
    line-height: 1rem;

        &::first-child {
            margin-top: 10px;
        }

        &::first-letter {
        font-size: x-large;
        font-family: 'Flavors';
    }

    // /////mask for introModal text reveal
        &:after{
            content: '';
            display: block;
            background: #000000;
            position: absolute;
            top: 3%;
            left: -1%;
            width: 100%;
            height: 100%;
            z-index: 1;
            transform-origin: 0 100%;
    }
}
#bop {   
    font-family: "Ubuntu";
    color: rgb(253, 59, 59);
    padding: .5rem;
    font-weight: 700;
    display: table-row;
    margin: 0 auto;
    font-size: .8rem;
    text-align: center;
    animation: bop infinite 2.5s steps(2);
    width: 45%;

        &::first-letter{
            font-family: "Ubuntu";
    }
}
@keyframes bop {
    to{
        color: rgb(235, 219, 219);
    }    
}
#ccc{
    color: rgb(145, 255, 0);
}
.bigShell {
    display:flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction:column;
    
}
.sky {
    @include flexShell;   
    flex-basis: 16%; 
}
.ground {
    @include flexShell;
    flex-basis: 69%;
    width: 85%;
}
.bottom {
    @include flexShell;
    flex-basis: 14%; 
    width: 100%;
    padding: 2px;    
    border: white 4px ridge;
    background: rgb(0, 0, 0);   
    margin-bottom: 0%;
}